.dark-theme {
    background: #0F1012;
    color: $color-main-light;

    .form {
        &-inp {
            border-color: $color-additional-gray-800;
            background: rgba(0, 0, 0, 0.16);
            color: $color-main-light;
        }
    
        &-tel {
            span {
                border-color: $color-additional-gray-800;
                color: $color-main-light;
            }
    
            input {
                color: $color-main-light;
                caret-color: #007aff;
                
                &::placeholder {
                    color: $color-additional-gray-600;
                }
            }
        }

        &-price {
            background: rgba(255, 255, 255, 0.04);
        
            input {
                color: $color-main-light;
        
                &::placeholder {
                    color: $color-additional-gray-600;
                }
            }
        
            p {
                border-color: $color-additional-gray-800;
                color: $color-main-light;
            }
        }

        &-search {
            background: rgba(255, 255, 255, 0.06);

            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }
    
            input {
                height: 52px;
                letter-spacing: 0.02em;
                color: $color-main-dark;
    
                &::placeholder {
                    color: $color-additional-gray-600;
                }
            }
        }
    }

    // Header
    .header {
        &-logo img {
            display: none;
    
            &.light-img {
                display: block;
            }
    
            .btn-secondary {
                background: rgba(225, 228, 253, 0.06);
            }
        }

        &.main-header {
            border-color: $color-additional-gray-900;
        }

        h2 {
            color: $color-main-light;
        }

        &-btn {
            background: rgba(255, 255, 255, 4%);

            img {
                display: none;

                &.dark-img {
                    display: block;
                }
            }
        }
    }
    // Header end

    .btn {
        &-secondary {
            color: $color-main-light;

            svg path {
                stroke: $color-main-light;
            }
        }

        &-neutral {
            background: $color-main-light;
            color: $color-main-dark;

            &:hover, &:active {
                background: $color-buttons-dark-neutral-hover-pressed;
            }

            &.disabled {
                background: $color-buttons-dark-neutral-disabled;
                color: $color-additional-gray-800;
            }
        }

        &-space {
            &:hover, &:active {
                color: $color-additional-gray-500;

                svg path {
                    fill: $color-additional-gray-500;
                }
            }

            &.disabled {
                background: $color-additional-gray-800;
            }
        }
    }

    // Home
    .home {
        &-title {
            color: $color-main-light;
        }

        .main-img {
            display: none;

            &.light-img {
                display: block;
            }
        }
    }
    // Home end

    // Auth
    .auth {
        &-title {
            color: $color-main-light;
        }

        p {
            color: $color-additional-gray-500;
        }
    }
    // Auth end

    // Anons
    .anons {
        .swiper-slide {
            &:not(.swiper-slide-active) {
                height: 0;
                overflow: hidden;
            }
        }

        img {
            display: none;

            &.dark-img {
                display: block;
            }
        }

        h2 {
            color: $color-main-light;
        }

        p {
            font-size: 16px;
            line-height: 137%;
            letter-spacing: 0.02em;
            color: $color-additional-gray-600;
        }
    }
    // Anons end

    .navs {
        background: rgba(32, 32, 32, 0.95) !important;
        border-color: $color-additional-gray-900;
        backdrop-filter: blur(5px);

        &-link {
            color: $color-additional-gray-500;

            .icon {
                img {
                    display: none;
                    
                    &.dark-icon {
                        display: block;
                    }
                }
            }

            &.active, &:hover {
                color: $color-main-link;

                .icon {
                    img {
                        display: none;

                        &.dark-icon {
                            display: none;
                        }

                        &.active-icon {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .main-page {
        z-index: 1;
    
        .circle {
            border-radius: 100%;
            background: radial-gradient(70.96% 68.53% at 79.71% 66.24%, rgb(127, 255, 71) 20.000000298023224%, rgb(249, 255, 32) 55.000001192092896%, rgb(255, 218, 192) 80.0000011920929%, rgb(252, 118, 227) 100%);
            filter: blur(65px);
            opacity: 0.3;
        }
    
        .overal-balance {
            p {
                color: $color-additional-gray-500;
            }
    
            h3 {
                color: $color-main-light;
            }
        }
    
        .navigation {
            a {
                color: $color-main-light;
                
                .icon {
                    height: 54px;
                    border-radius: 18px;
                    background: rgba(255, 255, 255, 0.04);

                    svg {
                        display: none;

                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
        }
    
    }
    
    .swiper-pagination {
        span {
            background: rgba(255, 255, 255, 0.25);

            &.swiper-pagination-bullet-active {
                background: $color-main-light;
            }
        }
    }

    .alert-white {
        background: #0f1012;
        border-color: $color-additional-gray-800;

        .main-img {
            display: none;

            &.dark-icon {
                display: block;
            }
        }
    
        h3 {
            color: $color-main-light;
        }
    
        .btn-secondary {
            background: $color-buttons-dark-secondary-default;

            svg path {
                stroke: $color-additional-gray-600;
            }
        }
    }

    .my-wallet {
        background: #0f1012;
    
        h2 {
            color: $color-main-light;
        }
    }

    .operation-month {
        background: rgba(255, 255, 255, 0.04);
    
        h3 {
            color: $color-main-light;
        }
    
        &__right {
            padding-left: 12px;
        }

        a {
            svg {
                rect {
                    fill: $color-main-light;
                }

                path {
                    fill: $color-main-dark;
                }
            }
        }
    }

    .clever-card {
        background: rgba(255, 255, 255, 0.04);
    
        .icon {
            background: radial-gradient(70.96% 68.53% at 79.71% 66.24%, rgb(127, 255, 71) 20.000000298023224%, rgb(249, 255, 32) 55.000001192092896%, rgb(255, 218, 192) 80.0000011920929%, rgb(252, 118, 227) 100%);
            filter: blur(54.5px);
            width: 245px;
            height: 159px;
            opacity: 0.13;
        }
    
        h3 {
            color: $color-main-light;
        }
    
        h4 {
            color: $color-main-light;
        }
    }

    .crypto {
        &-card {
            h3 {
                color: $color-main-light;
            }
    
            h4 {
                color: $color-main-light;
            }
        }
    }

    .wallet {
        .circle {
            background: radial-gradient(70.96% 68.53% at 79.71% 66.24%, rgb(127, 255, 71) 20.000000298023224%, rgb(249, 255, 32) 55.000001192092896%, rgb(255, 218, 192) 80.0000011920929%, rgb(252, 118, 227) 100%);
            filter: blur(65px);
            width: 456px;
            min-width: 456px;
            height: 465px;
            top: 156px;
            transform: translateX(calc(-50% + 5px)) rotateZ(0deg);
            opacity: 0.3;
        }
    
        &-card {
            h2 {
                color: $color-main-light;
                
                span {
                    color: $color-additional-gray-600;
                }
            }
        }
    
        .navigation {
            background: rgba(15, 16, 18, 0.85);
    
            a {
                color: $color-additional-gray-500;
                
                .icon {
                    background: rgba(255, 255, 255, 0.04);
    
                    svg {
                        display: none;

                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    .alert-gray {
        color: $color-additional-gray-500;
        background: rgba(255, 255, 255, 0.04);
    }
    
    .transactions {
        background: #0f1012;
    
        h2 {
            color: $color-main-light;
        }
    
        &-navs {
            a {
                color: $color-main-light;
                background: rgba(255, 255, 255, 0.04);
    
                &.active, &:hover {
                    background: $color-main-light;
                    color: $color-main-dark;
                }
            }
        }
    
        &-card {
            .icon {
                background: rgba(255, 255, 255, 0.04);
    
                img {
                    display: none;

                    &.dark-img {
                        display: block;
                    }
                }

                svg path {
                    fill: $color-additional-gray-500;
                }
            }
    
            h3 {
                color: $color-main-light;
            }
    
            h4 {
                color: $color-main-light;
            }
    
            &.input {
                .icon {
                    svg {
                        path {
                            fill: $color-additional-teal-600;
                        }
                    }
                }
    
                h4 {
                    color: $color-additional-teal-600;
                }
            }
        }
    }

    .funds {
        &-card {
            background: rgba(255, 255, 255, 0.04);
    
            h3 {
                color: $color-main-light;
                
                span {
                    color: $color-additional-gray-600;
                }
            }
    
            h2 {
                color: $color-main-light;
    
                span {
                    color: $color-additional-gray-600;
                }
            }
        }
    
        .swiper-pagination {
            margin-top: 12px;
        }

        .form-tel {
            background: rgba(255, 255, 255, 0.04);
            border: 0;
        }
    
        .transfer-amount {
            li {
                background: rgba(255, 255, 255, 0.04);
                color: $color-main-light;
            }

            svg {
                display: none;

                &:nth-child(2) {
                    display: block;
                }
            }
        }
    }

    .withdraw {
        .container {
            gap: 20px;
        }
    
        h3 {
            color: $color-main-light;
            
            span {
                color: $color-additional-gray-600;
            }
        }
    
        .navigation {
            a {
                color: $color-additional-gray-600;
                
                .icon {
                    height: 54px;
                    border-radius: 18px;
                    background: rgba(255, 255, 255, 0.04);

                    svg {
                        display: none;

                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    .alert-warning {
        img {
            display: none;

            &.dark-img {
                display: block;
            }
        }

        p {
            color: $color-additional-yellow-500;
        }
    }

    .check-aml {
        .alert-gray {
            background: rgba(255, 255, 255, 0.04), #202123;

            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }

            p {
                color: $color-additional-gray-500;
            }
        }
    
        &__body {
            background: #202123;
    
            p {
                color: $color-main-light;
            }
    
            .btn-neutral {
                img {
                    display: none;

                    &.dark-icon {
                        display: block;
                    }
                }
            }
        }
    }
    
    .history {
        &-check {
            background: #202123;
        
            h3 {
                color: $color-main-light;
            }
        }
    
        &-card {
            h4 {
                color: $color-main-light;
    
                span {
                    color: $color-additional-gray-600;
                }
            }
    
            p {
                color: $color-additional-gray-600;
            }
    
            b {
                color: $color-additional-gray-600;
            }
    
            svg circle:nth-child(1) {
                stroke: $color-additional-gray-800;
            }
        }
    }

    .pay-card {
        border: 1px solid $color-additional-gray-800;
        background: #0f1012;
    
        img {
            display: none;

            &.dark-icon {
                display: block;
            }
        }
    
        &__left {
            gap: 12px;
        }
    
        h3 {
            color: $color-main-light;
            
            span {
                color: $color-additional-gray-600;
            }
        }
    
        .price {
            color: $color-main-light;
    
            del {
                color: $color-additional-gray-600;
            }
        }
    }
    
    .load-page {
        h2 {
            color: $color-main-light;
        }
    }

    .check-result {
        .guade-chart path:nth-child(1) {
            stroke: rgba(255, 255, 255, 0.06);
        }

        .chart-text {
            h3 {
                color: $color-main-light;
            }
            
            p {
                color: $color-main-light;
            }
        }

        .crypto-text {
            b {
                color: $color-main-light;
            }
        }
    
        .result-card {
            background: #202123;
            border: 0;

            p {
                gap: 12px;
                font-size: 14px;
                line-height: 143%;
                letter-spacing: 0.04em;
                color: $color-additional-gray-600;
            }
    
            h3 {
                color: $color-main-light;
                
                span {
                    color: $color-additional-gray-600;
                }
            }
    
            .line {
                background: rgba(255, 255, 255, 0.06);
    
                &.line-green span {
                    background: $color-additional-teal-500;
                }
    
                &.line-yellow span {
                    background: $color-additional-yellow-500;
                }
    
                &.line-red span {
                    background: $color-additional-red-500;
                }
            }
        }
    }

    .select-wallet {
        .btn-secondary {
            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }
        }
    }
    
    .add-wallet {
        &__card {
            background: #202123;
    
            h3 {
                color: $color-main-light;
            }
    
            .icon {
                border: 1px solid $color-additional-gray-700;
            }
        }
    }

    .import-wallet {
        .btn-neutral {
            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }
        }
    }

    .import-wallet {
        .form-inp {
            background: rgba(255, 255, 255, 0.06);
        }
    
        a {
            color: $color-additional-gray-500;
            background: #202123;
        }
    }

    .wallet-id {
        .wallet-name {
            color: $color-main-light;
            background: rgba(255, 255, 255, 0.06);
        }

        .crypto-list {
            background: #202123;
        }
    
        &__btns {
            gap: 10px;
        }
    
        .btn-red {
            gap: 12px;
        }
    
        .btn-secondary {
            gap: 12px;
            background: $color-buttons-dark-secondary-default;

            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }
        }
    }

    .export-wallet {
        .alert-gray {
            background: #202123;

            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }

            p {
                color: $color-additional-gray-500;
            }
        }
    
        .form-inp {
            background: rgba(255, 255, 255, 0.06);
        }

        .btn-neutral {
            background: $color-buttons-light-neutral-default;
            color: $color-main-light;
        }
    }

    .profile {
        .circle {
            width: 496px;
            min-width: 496px;
            height: 392px;
            top: -45px;
            transform: translateX(-50%) rotateZ(156deg);
            opacity: 0.14;
        }
    
        &-head {
            h2 {
                color: $color-main-light;
            }
        }
    
        &-payment {
            border: 1px solid $color-additional-gray-900;
            background: #202123;

            h3 {
                color: $color-main-light;
            }
    
            h4 {
                color: $color-main-light;
    
                span {
                    color: $color-additional-gray-600;
                }
            }
    
            .line {
                background: rgba(255, 255, 255, 0.06);
    
                span {
                    background: $color-additional-red-500;
                }
            }
            
            .btn-secondary {
                background: $color-buttons-dark-secondary-default;

                img {
                    display: none;

                    &.dark-icon {
                        display: block;
                    }
                }
            }
        }
    
        .link {
            &-list {
                border: 1px solid $color-additional-gray-900;
                background: #202123;
            }
    
            &-item {
                color: $color-main-light;
            }
    
            &-line {
                height: 1px;
                background: $color-additional-gray-900;
            }
        }
    
        .log-out {
            border: 1px solid $color-additional-gray-900;
            color: $color-main-light;
            background: #202123;
        }
    }

    .profile-settings {
        .form-inp {
            background: rgba(255, 255, 255, 0.06);
        }
    }

    .profile-security {
        .title {
            color: $color-main-light;
        }

        .form-inp {
            background: rgba(255, 255, 255, 0.06);
        }
    
        .two-factor {
            border: 1px solid $color-additional-gray-800;
        }
    
        .text {
            h4 {
                color: $color-main-light;
        
                span {
                    background: rgba(255, 255, 255, 0.04);
                }
            }
        }
    
        .btns {
            gap: 12px;
    
            .btn-secondary {
                img {
                    display: none;

                    &.dark-icon {
                        display: block;
                    }
                }
            }
        }
    }

    .profile-devices {
        h3 {
            color: $color-main-light;
        }
    }
    
    .device-card {
        &__text {
            gap: 12px;
    
            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }
        }
    
        &__name {
            color: $color-main-light;
        }

        svg path {
            stroke: $color-additional-gray-600;
        }
    }

    .profile-tarif {
        &__head {
            background: rgba(255, 255, 255, 0.04);
    
            a {
                color: $color-main-light;
                
                &.active {
                    background: $color-main-link-12;
                    color: $color-main-link;
                }
            }
        }
    
        .tarif {
            &-card {
                border-color: $color-additional-gray-800;
                background: #0f1012;

                .bg-img {
                    z-index: -1;
                }
                
                &__head {
                    border-color: $color-additional-gray-800;
    
                    .icon {
                        display: none;

                        &.dark-icon {
                            display: block;
                        }
                    }
    
                    h4 {
                        color: $color-main-light;
                    }
    
                    h3 {
                        color: $color-main-light;
                    }
                    
                    .price {
                        color: $color-main-light;
                    }
                }
    
                &__bottom {
                    p {
                        span {
                            color: $color-main-light;
                        }
                    }
                }
            }
        }
    }

    .business {
        h2 {
            color: $color-main-light;
        }
    
        &-navs {
            border-bottom: 1px solid $color-additional-gray-800;
    
            a {
                &.active, &:hover {
                    color: $color-main-light;
                    background: rgba(255, 255, 255, 0.08);
                }
            }
        }
    
        .btn-secondary {
            background: $color-buttons-dark-secondary-default;
    
            img {
                display: none;

                &.dark-icon {
                    display: block;
                }
            }
        }
    
        &-link {
            background: #202123;
    
            &__title {
                b {
                    color: $color-main-light;
                }
            }

            &__bottom {
                b {
                    line-height: 137%;
                    letter-spacing: 0.03em;
                    color: $color-main-light;
                }
    
                svg circle:nth-child(1) {
                    stroke: $color-additional-gray-700;
                }
            }

            &__dagree {
                b {
                    color: $color-main-light;
                }
            }
        }
    }

    .profile-store {
        &__head {
            h3 {
                color: $color-main-light;
            }

            .btn-secondary {
                background: $color-buttons-dark-secondary-default;

                img {
                    display: none;

                    &.dark-icon {
                        display: block;
                    }
                }
            }
        }
    
        .title {
            color: $color-main-light;
            
            span {
                color: $color-additional-gray-600;
            }
        }
    
        .statistic-card {
            border: 1.5px solid $color-additional-gray-800;
    
            h3 {
                color: $color-main-light;
            }
        }
    
        .reviews-card {
            background: #202123;
    
            &__name {
                color: $color-additional-gray-600;
            }
    
            &__rating {
                color: $color-main-light;
                
                span {
                    color: $color-additional-gray-600;
                }
            }
    
            p {
                color: $color-main-light;
            }
        }
    }

    .account-created {
        &__head {
            h2 {
                color: $color-main-light;
            }
        }
    
        .form-inp {
            background: rgba(255, 255, 255, 0.06);
        }

        .navigation {
            a {
                color: $color-additional-gray-600;
                
                .icon {
                    height: 54px;
                    border-radius: 18px;
                    background: rgba(255, 255, 255, 0.04);

                    svg {
                        display: none;

                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .payment-card {
        background: #202123;
    
        h3 {
            color: $color-main-light;
    
            span {
                color: $color-additional-gray-600;
            }
        }
    }

    .store-review {
        &__card {
            background: #202123;

            &-name {
            
                b {
                    color: $color-main-light;
                }
            }
    
            p {
                color: $color-main-light;
            }

            .btn-neutral {
                background: $color-buttons-light-neutral-default;
                color: $color-main-light;
            }
        }
    
        .title {
            color: $color-main-light;
        }
    
        .statistica {
            &-card {
                background: #202123;
    
                b {
                    color: $color-main-light;
                }
            }
        } 
    
        .rating-card {
            background: #202123;
        }
    
        .disputes-card {
            background: #202123;
    
            &__head {
                h3 {
                    color: $color-main-light;
                }
            }

            p {
                color: $color-main-light;
            }
        }
    }

    .view-payment {
        &__card {
            h3 {
                color: $color-main-light;
            }
    
            &-right {
                b {
                    color: $color-main-light;
                }
            }
    
            &.success {
                b {
                    color: $color-additional-teal-600;
                }
            }
        }
    }
    
    .main-modal {
        background: #18191b;
    }
    
    .payment-modal {
        h2 {
            color: $color-main-light;
        }
    
        &__card {
            background: rgba(249, 249, 249, 0.06);
    
            h4 {
                color: $color-main-light;
    
                .text-gray {
                    color: $color-additional-gray-600;
                }
            }
        }
    
        .btns {
            .btn-neutral,
            .btn-secondary,
            .btn-space {
                background: $color-buttons-dark-secondary-default;
                color: $color-additional-gray-white;
                border-radius: 18px;
            }

            .btn-secondary img {
                filter: invert(1)
            }
        }
    }

    .paying {
        &-head {
            &__left a svg path {
                fill: $color-main-light;
            }

            &__img {
                img {
                    border-color: #0F1012;
                }
            }
    
            h2 {
                color: $color-main-light;
            }
        }
    
        &-card {
            border: 1px solid $color-additional-gray-800;
    
            .icon {
                border: 1px solid $color-additional-gray-700;
            }
    
            h3 {
                color: $color-main-light;
            }
        }
    
        &-bottom {
            gap: 10px;

            .btn-neutral {
                background: $color-main-accent;
            }
    
            .btn-space {
                img {
                    display: none;

                    &.dark-icon {
                        display: block;
                    }
                }
            }

            .btn-secondary img {
                filter: invert(1)
            }
        }
    }

    .country-card {
        border: 1px solid $color-additional-gray-800;

        .circle-bg {
            background: radial-gradient(70.96% 68.53% at 79.71% 66.24%, rgb(127, 255, 71) 20.000000298023224%, rgb(249, 255, 32) 55.000001192092896%, rgb(255, 218, 192) 80.0000011920929%, rgb(252, 118, 227) 100%);
            opacity: 0.1;
        }
    
        .icon {
            border: 1px solid $color-additional-gray-700;
        }
    
        h3 {
            color: $color-main-light;
    
            span {
                color: $color-additional-gray-600;
            }
        }
    }

    .details-modal {
        h2 {
            color: $color-main-light;
        }
    
        h3 {
            color: $color-main-light;
    
            &.text-blue {
                color: $color-main-link;
            }
        }
    
        .btn-secondary {
            background: $color-buttons-dark-secondary-default;
        }
    }

    .payment-result {
        z-index: 1;

        .circle-bg {
            width: 584px;
            min-width: 584px;
            height: 637px;
            background: $color-additional-gray-white;
            filter: blur(125px);
            z-index: -1;
            top: -264px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.15;
        }

        h2 {
            color: $color-main-light;
        }
    
        p {
            color: $color-additional-gray-500;
            
            b {
                color: $color-main-light;
            }
        }

        .btn-neutral {
            svg path {
                fill: $color-main-dark;
            }
        }

        .btn-secondary {
            background: $color-buttons-dark-secondary-default;

            img {
                filter: invert(1);
            }
        }

        .btns {
            flex-direction: column-reverse !important;
        }
    
        &__foot {
            .btn-space {
                img {
                    filter: invert(1)
                }
            }
        }
    }

    .payment-select {
        border: 1px solid $color-additional-gray-800;
    
        h3 {
            color: $color-main-light;

            span {
                color: $color-additional-gray-600;
            }
        }
    
        .icon {
            border: 1px solid $color-additional-gray-700;
        }
    }

    .payment-send {
        .title {
            color: $color-main-light;
        }
    
        .subtitle {
            color: $color-additional-gray-500;
        }
    
        &__card {
            background: #202123;
    
            h3 {
                color: $color-main-light;
            }

            img.light-img {
                filter: invert(1)
            }
    
            button {
                img {
                    filter: invert(1)
                }
            }
        }

        .btn-secondary {
            background: $color-buttons-dark-secondary-default;

            img {
                filter: invert(1);
            }
        }
    }

    .paying-modal {
        h2 {
            color: $color-main-light;
            
            span {
                color: $color-additional-gray-600
            }
        }
    
        ul {
            li {
                color: $color-main-light;
    
                &:has(input:checked) {
                    background: $color-main-link-12;
                    color: $color-main-link;
                }
            }
        }
    
        .btns {
            gap: 10px;
        }

        .btn-secondary {
            background: $color-buttons-dark-secondary-default;
        }
    }
}