@layer base {
    // не трогать 



    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent !important;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        cursor: pointer;
    }


    img {
        max-width: 100%;
    }

    span,
    label {
        display: inline-block;
    }

    html {
        scroll-behavior: smooth;
    }

    input,
    textarea {
        outline: none;
        border: 0;
        background: transparent;
        font-weight: 400;
    }

    button,
    select {
        border: none;
        cursor: pointer;
        background: transparent;
        outline: 0;
        font-weight: 400;
    }

    address {
        font-style: normal;
    }

    ul,
    ol,
    dl {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
        margin: 0;
        font-weight: 400;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }

    body {
        background: var(--bg-main);
        color: var(--text-main);
        font-family: var(--font-nebulas);
        font-weight: 400;
    }

    body,
    #root {
        max-width: 454px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    button,
    input,
    textarea,
    li,
    div {
        font-family: var(--font-nebulas);
        font-weight: 400;
    }

    /* СВЕТЛАЯ ТЕМА (По умолчанию) */
    :root {
        --bg-green: rgba(157, 255, 115, 1);
        --black: rgba(15, 16, 18, 1);
        --grey: #6C757D;

        --color-surface: var(--bg-main);
        --color-surface-card: var(--bg-card);
        --color-primary: var(--text-main);
        --font-helvetica: "HelveticaNeue", sans-serif;
        --font-nagel: "Nagel", sans-serif;
        --font-nebulas: "Nebulas", sans-serif;
        --font-sf-compact: "SF Compact Display", sans-serif;
        --font-sf-display: "SF Pro Display", sans-serif;
        --font-sf-text: "SFProText", sans-serif;


        --bg-main: #ffffff;
        --text-main: #282828;
        --bg-secondary: rgba(249, 249, 249, 1);
        --bg-card: rgba(255, 255, 255, 0.85);
        --border-secondary: rgba(233, 236, 239, 1);
        --header-border: #E5E7EB;

        --title-color: #2d2d2d;


        --25-opacity: rgba(0, 0, 0, 0.25);
        --bg-accent: rgba(247, 248, 249, 1);
        --btn-active: rgba(123, 123, 124, 1);
        --btn-secondary-bg: rgba(40, 40, 40, 0.04);
        --btn-main: rgba(40, 40, 40, 1);

        --intro-btn-bg: rgba(247, 248, 249, 1);
    }

    /* ТЕМНАЯ ТЕМА (Включается только если на <body> есть класс "dark") */
    body.dark {
        --bg-main: rgba(15, 16, 18, 1);
        --text-main: #e7e7e7;
        --bg-secondary: rgba(0, 0, 0, 0.16);
        --bg-card: rgba(15, 16, 18, 0.85);
        --border-secondary: rgba(52, 58, 64, 1);


        --25-opacity: rgba(255, 255, 255, 0.25);
        --header-border: #1F2937;
        --btn-secondary-bg: rgba(255, 255, 255, 0.04);
        --title-color: #ffffff;

        --btn-main: rgba(231, 231, 231, 1);

        --intro-btn-bg: rgba(225, 228, 253, 0.06);
    }

    /* СПЕЦИФИКА ТЕЛЕГРАМА (Перебьет всё остальное, если мы в ТГ) */
    body.telegram {
        --bg-main: var(--tg-theme-bg-color, #ffffff);
        --text-main: var(--tg-theme-text-color, #282828);
        --bg-card: var(--tg-theme-secondary-bg-color, #f8f9fa);

        --header-border: var(--tg-theme-hint-color, #E5E7EB);
        --btn-secondary-bg: var(--tg-theme-secondary-bg-color, rgba(40, 40, 40, 0.04));
        --title-color: var(--tg-theme-text-color, #2d2d2d);
    }
}

@layer utilities {
    .bg-glow-blob {
        background: radial-gradient(70.96% 68.53% at 79.71% 66.24%, rgb(127, 255, 71) 20%, rgb(249, 255, 32) 55%, rgb(255, 218, 192) 80%, rgb(252, 118, 227) 100%);
    }
}



@theme {
    --font-helvetica: "HelveticaNeue", sans-serif;
    --font-nagel: "Nagel", sans-serif;
    --font-nebulas: "Nebulas", sans-serif;
    --font-sf-compact: "SF Compact Display", sans-serif;
    --font-sf-display: "SF Pro Display", sans-serif;
    --font-sf-text: "SFProText", sans-serif;
}